/* Hero Styling */
.hero {
    background-image: url('../images/top_table_kapet_gunita.png'); /* Replace with your actual hero image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 10px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }

  .brand-highlight {
    font-weight: 300;        /* Light */
    font-size: 1.75rem;      /* Larger than default */
    letter-spacing: 0.5px;   /* Optional: makes it more elegant */
  }

  /* Nav Link Styling */
.nav-link {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product-header img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

  
  